<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typing World</title>

    <!-- development version (vue) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- local scripts & styles-->
    <script src="registration.js"></script>
    <link rel="stylesheet" type="text/css" href="../../header.css">
    <link rel="stylesheet" type="text/css" href="../../world.css">
    <link rel="stylesheet" type="text/css" href="registration.css">

</head>
<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Typing World</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="../../index.html">Home</a>
                <a class="nav-link active" href="account/registration/registration.html">Account</a>
                <a class="nav-link" href="../../about/about.html">About</a>
            </nav>
            <a href="https://www.patreon.com/bePatron?u=10226736"> <img src="../../resources/become_a_patron_button.png"/> </a>
        </div>
    </header>

    <main role="main" class="inner cover">
        <p><b>Register to keep track of your typing speed!</b></p>

        <div id="registration">
            <p class="errorMessage" v-if="hasError">Something went wrong when registering your account! Please try again later or contact us on <a href="https://discord.gg/VQnJFY">Discord</a> </p>
            <input id="username" v-model="username" placeholder="username"/><br/>
            <input id="password" v-model="password" placeholder="password" type="password"/><br/>
            <button class="btn btn-default" v-on:click="submit"> Register </button>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <a href="https://github.com/DylanMeeus/TypingWorld">Made with <3 and technology!</a>
        </div>
    </footer>
</div>
</body>
</html>
